Region: us-east-1

Image:
  Os: ubuntu2204
  CustomAmi: ami-054326b3626682e0c  # <-- your newly built AMI

HeadNode:
  InstanceType: c7i.8xlarge
  Networking:
    SubnetId: subnet-0d92b3ed5ac832bb4
  Ssh:
    KeyName: jong-aws-east1-ed25519
  LocalStorage:
    RootVolume:
      Size: 500
      VolumeType: gp3
      Iops: 10000
      Throughput: 1000
  Iam:
    AdditionalIamPolicies:
      - Policy: arn:aws:iam::aws:policy/AmazonS3FullAccess
      - Policy: arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore

Scheduling:
  Scheduler: slurm
  SlurmQueues:
    - Name: compute
      CapacityType: ONDEMAND
      ComputeResources:
        - Name: c7i24xlarge
          Instances:
            - InstanceType: c7i.24xlarge
          MinCount: 0
          MaxCount: 2
          Efa:
            Enabled: false
      Networking:
        PlacementGroup:
          Enabled: true
        SubnetIds:
          - subnet-0d92b3ed5ac832bb4

SharedStorage:
  - MountDir: /scratch
    Name: ebs
    StorageType: Ebs
    EbsSettings:
      VolumeType: gp3
      DeletionPolicy: Delete
      Size: 500
